# MyBB ignores
back/forum/inc/config.php
back/forum/cache/
back/forum/uploads/
back/forum/error_log
back/forum/admin/backups/

# OS ignores
Thumbs.db
Desktop.ini
.DS_Store

# IDE ignores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build / Packages ignores
node_modules/
npm-debug.log
dist/
build/
package-lock.json

# Scratch files
scratch/
temp/
*.log
